{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}
    
    

    <div class="container my-3">
      <h3>Your Todos</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">SNo</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Id</th>
            <th scope="col">Actions</th> 
          </tr>
        </thead>
        <tbody>
          {% for todo in todos %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ todo[0] }}</td>  
            <td>{{ todo[1] }}</td>  
            <td>{{ todo[2] }}</td>  
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
              <a href="/edit/{{todo[2]}}" method="POST"><button class="btn btn-primary btn-sm mx-1">Edit</button></a>
            
              <form action="{{ url_for('delete_todo',  todo_id=todo[2]) }}" method="POST">
                <button type="submit" class="btn btn-danger btn-sm mx-1">Delete</button>
              </form>
            </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <a href="/add" method="POST"><button class="btn btn-success btn mx-lg-4 my-2">Add new todos</button></a>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    -->

    {% endblock body %}